@charset "utf-8";
/* CSS Document */

body{
font-family:Verdana, Geneva, sans-serif;
font-size:14px;}

#slidingDiv, #slidingDiv_2{
	height:300px;
	background-color: #FFFFFF;
	padding:20px;
	margin-top:10px;
	display:none;
}



